<p>
  <%= f.label :name %>
  <%= f.text_field :name, :class => "required"%>
</p>
<p>
  <%= f.label :body %>
  <%= fckeditor_textarea "page", "body", :height => "400px" %>
</p>

<%= f.hidden_field :parent_id, :value=>params[:parent_id] %>

<%= render :partial => "/admin/meta_tags/form", :locals => { :f => f } %>