<p>
	<%= f.label :metatag_title %>
	<%= f.text_field :metatag_title %>
</p>

<p>
	<%= f.label :metatag_keywords %>
	<%= f.text_field :metatag_keywords %>
</p>

<p>
	<%= f.label :metatag_description %>
	<%= f.text_area :metatag_description %>
</p>

<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</p>
<p>
  <%= f.label :body %>
  <%= fckeditor_textarea "page", "body", :height => "400px" %>
</p>

<%= f.hidden_field :parent_id, :value=>params[:parent_id] %>