<% f.inputs  do %>
	<%= f.input :name %>
	<%= f.hidden_field :parent_id, :value => params[:parent_id] %>
	<li>
	  <%= f.label :body %>
	  <%= fckeditor_textarea "page", "body", :height => "400px" %>
	</li>
<% end -%>

<%= render :partial => "/admin/meta_tags/form", :locals => { :f => f } %>