<h2>SEO</h2>
<p>
	<%= f.label :metatag_title %>
	<%= f.text_field :metatag_title %>
</p>

<p>
	<%= f.label :metatag_keywords %>
	<%= f.text_field :metatag_keywords %>
</p>

<p>
	<%= f.label :metatag_description %>
	<%= f.text_area :metatag_description %>
</p>
