<div <%= cycle("class='comment odd'", "class='comment'")%>>
	<%= link_to (image_tag("/images/icon/destroy.png", :alt => "Apagar comentário", :title => "Apagar comentário")), comment_path(comment), :method => :delete, :confirm => "Você tem certeza?" if current_user %>
	<big><strong><%= link_to comment.name, comment.website, :target => "_blank" %></strong> disse:</big>
	<%= simple_format comment.comment %>
	<small><%= l(comment.created_at, :format => :long) %></small>
</div>
