<h1><%= @page.name %></h1>
<div class="content_cms">
	<%= @page.body %>
</div>
<ul id="file_list">
<% @downloads.each do |download| %>	
	<li>
		<% link_to download_path(download.permalink) do %>
			<h2><%= download.name %></h2>
			<small><%= download.file_file_name %> | <%= download.file_file_size / 1000 if download.file_file_size %>Kb</small>
			<%= simple_format(download.description.summary(400)) %>
		<% end %>
	</li>
<% end %>
</ul>