<%= @page.body %>

<% form_for('contact') do |f| %>
	<p>
		<%= f.label(:name) %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label(:email) %>
		<%= f.text_field :email %>
	</p>
	
	<p>
		<%= f.label(:message) %>
		<%= f.text_area :message %>
	</p>
	
	<% [:error, :notice].each do |message| %>
		<% content_tag :div, :class => message do %>
			<%= flash[message] %>
		<% end if flash[message] %>
	<% end %>

	<%= submit_tag("Submit") %>
<% end %>
