<h1><%= @page.name %></h1>
<% form_for("contact", :html => {:class => "validate", :id => "contact"}) do |f| %>
	<p>
		<%= f.label(:name, "Nome") %>
		<%= f.text_field :name, :class => "required" %>
	</p>
	<p>
		<%= f.label(:email) %>
		<%= f.text_field :email, :class => "required email" %>
	</p>
	
	<p>
		<%= f.label(:message, "Mensagem") %>
		<%= f.text_area :message, :class => "required" %>
	</p>

	<%= submit_tag("Enviar", :class => "submit") %>
<% end %>
<div class="content_cms">
	<%= @page.body %>
</div>
<%= javascript "plugins/metadata", "plugins/validate", "plugins/validate_pt-BR.js" %>