<%= link_to image_tag("rss.png", :alt => "RSS", :title => "RSS", :id => "feed_rss"), posts_path(:atom) %>
<h1><%= @page.name %> - Arquivo</h1>
<div class="content_cms">
	<%= @page.body %>
</div>
<%= render :partial => 'list' %>
<%= render :partial => 'sidebar' %>
<%= render :partial => "rss" %>