<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
											"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title><%= SITE_NAME %> - Admin</title>

	<%= stylesheet_link_tag "admin/default", "plugins/superfish" %>

	<link href="/favicon.ico" type="image/x-icon" rel="icon"/>
	<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon"/>

	<%= javascript_include_tag :defaults, "plugins/superfish", "plugins/metadata", "plugins/validate", "admin/default" %>
	<%= javascript_include_tag :fckeditor %>
	<%= yield :head %>
</head>
<body>

<%= render :partial=>"admin/layouts/info" if logged_in? %>

<%= image_tag("admin/dbd.gif") %>

<%= render :partial=>"admin/layouts/menu" if logged_in? %>

<div id="content">
	<% [:error, :notice].each do |message| %>
		<% content_tag :div, :class => message do %>
			<%= flash[message] %>
		<% end if flash[message] %>
	<% end %>
	<%= yield  %>
</div>

<div id="footer">Created by <%= link_to "DBurns Design", "http://www.dburnsdesign.com", :target => "_blank" %></div>

</body>
</html>
