<p>
  <%= f.label :login %>
  <%= f.text_field :login, :class => "{required:true, login:true}" %>
</p>
<p>
  <%= f.label :name %>
  <%= f.text_field :name, :class => "{required:true}" %>
</p>
<p>
  <%= f.label :email %>
  <%= f.text_field :email, :class => "{required:true, email:true}" %>
</p>
<p>
  <%= f.label :password %>
  <%= f.password_field :password, :class => "{" + ((params[:action] == "edit") ? "" : "required:true, ") + "minlength:6}" %>
</p>
<p>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, :class => "{" + ((params[:action] == "edit") ? "" : "required:true, ") + "equalTo: '#user_password'}" %>
</p>
<p>
  <%= f.label :roles_users, 'Permissions (Roles)' %>
  <% Role.all.each do |role| %>
	<%= check_box_tag 'user[role_ids][]', role.id, @user.roles.include?(role) %>
	<%=h role.name %>
  <% end %> 
</p>
