<h1><%= t(:listing) %> <%= 'Admin' if params[:role]=='admin' %> <%=t :users %></h1>

<table cellspacing="0" class="display" id="table">
  <thead>
		<tr>
	    <th>Login</th>
	    <th><%=t :user_name %></th>
	    <th><%=t :user_email %></th>
	  </tr>
  </thead>
  <%- @users.each do |user|%>
    <tr>
      <td><%=h user.login %></td>
      <td><%=h user.name %></td>
      <td><%=h user.email %></td>
    
      <td><%=link_to t(:edit), edit_object_url(user) %></td>
      <td><%=link_to t(:destroy), object_url(user), :confirm => t(:are_you_sure), :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br/>

<%= link_to t(:new_user), new_object_url %>

<%= render :partial => '/admin/scaffold/data_table' %>
