<p>
  <strong>Login:</strong> <%=h @user.login %>
</p>
<p>
  <strong>Email:</strong> <%=h @user.email %>
</p>
<p>
  <strong>Name:</strong> <%=h @user.name %>
</p>

<p>
  <strong>Created at:</strong> <%=h @user.created_at.to_s(:long) %>
</p>
<p>
  <strong>Updated at:</strong> <%=h @user.updated_at.to_s(:long) %>
</p>

<%= link_to 'Edit', edit_object_url %>
|
<%= link_to 'Back', collection_url %>
