<h1><%=t :editing %> <%= @object.class.human_name %></h1>

<%= error_messages_for @object.class.to_s.underscore.to_sym %>

<% semantic_form_for(@object, :url => object_url, :live_validations => true, :html => { :method => :put, :multipart => true }) do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
	<p class="submit"><%=submit_tag t(:update)%></p>
<% end %>

<br/>

<%= link_to t(:back), collection_url %>