<h1>New <%= @object.class %></h1>

<%= error_messages_for @object.class.to_s.underscore.to_sym %>

<% form_for(@object, :url => collection_url, :html => { :class => "validate", :multipart => true }) do |f| %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <p class="submit"><%= submit_tag "Create" %></p>
<% end %>
<br/>
<%= link_to 'Back', collection_url %>