<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
											"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title><%= metatag_title(@metatag_object, SITE_NAME) %></title>

	<%= metatags(@metatag_object) -%>
	<meta http-equiv="content-language" content="en">
	<meta name="author" content="dburns design - professional website design is los angeles">
	<meta name="distribution" content="global">
	<meta name="revisit-after" content="30 days">
	<meta name="copyright" content="dburns design">

	<%= stylesheet_link_tag "default" %>

	<link href="/favicon.ico" type="image/x-icon" rel="icon"/>
	<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon"/>

	<%= javascript_include_tag :defaults, "plugins/crossbrowser" %>
	<%= yield :head %>
</head>
<body>

<div id="content">
	<% if flash[:notice] %>
		<p style="color: green"><%= flash[:notice] %></p>
	<% elsif flash[:error] %>
		<p style="color: red"><%= flash[:error] %></p>
	<% end %>
	<%= yield  %>
</div>

<div id="footer">Professional Website Design by <%= link_to 'DBurns Design', 'http://www.dburnsdesign.com', :target => '_blank' %></div>

</body>
</html>
