<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
											"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title><%= metatag_title(@metatag_object, SITE_NAME) %></title>

		<%= metatags(@metatag_object) -%>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta http-equiv="content-language" content="en"/>
		<meta name="google-site-verification" content="StHvguz0wYVpO1bRDMntRhG20rjdGaoeGjx2JIaWVig" />
		<meta name="author" content="Philipe Casarotte - Design and Ruby on Rails Development"/>
		<meta name="distribution" content="global"/>
		<meta name="revisit-after" content="30 days"/>
		<meta name="copyright" content="Philipe Casarotte"/>

		<%= stylesheet_link_tag "default" %>
		
		<link href="/favicon.ico" type="image/x-icon" rel="icon"/>
		<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon"/>

		<%= javascript_include_tag :defaults, "http://www.google-analytics.com/ga", "default" %>
		
		<!--[if IE 6]>
			<%= stylesheet_link_tag "plugins/crossbrowser" %>
			<%= javascript_include_tag "plugins/crossbrowser" %>
		<![endif]-->
		
		<%= yield :head %>
	</head>
	<body>
		<div id="main">
			<%= link_to image_tag("samia_tauk_logo.png", :alt => "Sâmia Tauk", :title => "Sâmia Tauk", :id => "logo"), root_path %>
			<div id="top">
				<%= image_tag "samia_tauk.png", :alt => "Sâmia Tauk", :title => "Sâmia Tauk"  %>
				<h2>Sâmia Maria Tauk-Tornisielo</h2>
				<big>61 anos | 28 de junho de 1946</big>
				<small>Professora Títular</small>
			</div>
			<ul id="menu">
				<li <%= "class='current'" if current_page?(root_path) %>><%= link_to "HOME", root_path %></li>
				<li <%= "class='current'" if current_page?(page_path("quem-sou")) %>><%= link_to "QUEM SOU", page_path("quem-sou") %></li>
				<li <%= "class='current'" if params[:controller] == "posts" %>><%= link_to "BLOG", posts_path %></li>
				<li <%= "class='current'" if params[:controller] == "photo_galleries" %>><%= link_to "FOTOS", photo_galleries_path %></li>				
				<li <%= "class='current'" if params[:controller] == "downloads" and params[:action] == "science" %>><%= link_to "CIÊNCIA", science_downloads_path %></li>
				<li <%= "class='current'" if params[:controller] == "downloads" and params[:action] == "faith" %>><%= link_to "EVANGELISMO", faith_downloads_path %></li>
				<li <%= "class='current'" if current_page?(page_path("curriculum")) %>><%= link_to "CURRICULUM", page_path("curriculum") %></li>
				<li <%= "class='current'" if current_page?(page_path("contato")) %>><%= link_to "CONTATO", page_path("contato") %></li>
			</ul>
			<div id="content">
				<% [:error, :notice].each do |message| %>
					<% content_tag :div, :class => message do %>
						<%= flash[message] %>
					<% end if flash[message] %>
				<% end %>
				<%= yield  %>
			</div>
			<div id="footer">
				Design and <%= link_to 'Ruby on Rails Development', 'http://www.philipecasarotte.com.br', :target => '_blank' %> by Philipe Casarotte<br/>
				&copy; Todos os direitos reservados
			</div>
		</div>
	</body>
</html>
