<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
											"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title><%= metatag_title(@metatag_object, SITE_NAME) %></title>

	<%= metatags(@metatag_object) -%>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-language" content="en"/>
	<meta name="author" content="DBurns Design - Professional Website Design in Los Angeles, California"/>
	<meta name="distribution" content="global"/>
	<meta name="revisit-after" content="30 days"/>
	<meta name="copyright" content="DBurns Design"/>

	<%= stylesheet_link_tag "default" %>

	<link href="/favicon.ico" type="image/x-icon" rel="icon"/>
	<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon"/>

	<%= javascript_include_tag :defaults, "plugins/crossbrowser", "http://www.google-analytics.com/ga" %>
	<%= yield :head %>
</head>
<body>

<div id="content">
	<% [:error, :notice].each do |message| %>
		<% content_tag :div, :class => message do %>
			<%= flash[message] %>
		<% end if flash[message] %>
	<% end %>
	<%= yield  %>
</div>

<div id="footer"><%= link_to 'Professional Website Design', 'http://www.dburnsdesign.com', :target => '_blank' %> by DBurns Design</div>

</body>
</html>
